{% include 'base.html.twig'%}
{% block head %}
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="temp_patient/css/bootstrap.css">
    <link rel="stylesheet" href="temp_patient/css/themify-icons.css">
    <link rel="stylesheet" href="temp_patient/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="temp_patient/css/style.css">
    <link rel="stylesheet" href="temp_patient/css/responsive.css">
</head>
{% include 'navbar.html.twig'%}
<style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background: white;
        }

        .card {
            max-width: 500px; /* Limite la largeur du formulaire */
            margin: 0 auto;   /* Centre le formulaire */
            background-color: white; /* Vert pâle */
        }
</style>
<body>
{% endblock %}
<!--================Home Banner Area =================-->
<section class="banner-area d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h1>Ensemble, Améliorons<br>
                Votre Santé</h1>
                <p>Découvrez notre application de réhabilitation à distance, conçue pour vous accompagner après une chirurgie ou un accident. Profitez d'exercices interactifs personnalisés et d'un suivi en temps réel pour une rééducation optimale.</p>
                <a href="#" class="main_btn">Prendre un Rendez-vous</a>
                <a href="#" class="main_btn_light">Voir Nos Services</a>
            </div>
        </div>
    </div>
</section>

<!--================End Home Banner Area =================-->

<!--================ Feature section start =================-->      
<section class="feature-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-feature text-center text-lg-left">
                    <h3 class="card-feature__title"><span class="card-feature__icon">
                        <i class="ti-layers"></i>
                    </span>Soins Personnalisés</h3>
                    <p class="card-feature__subtitle">Nous offrons des programmes de rééducation adaptés à vos besoins spécifiques, pour une récupération en toute sécurité.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-feature text-center text-lg-left">
                    <h3 class="card-feature__title"><span class="card-feature__icon">
                        <i class="ti-heart-broken"></i>
                    </span>Urgences</h3>
                    <p class="card-feature__subtitle">En cas de complications, notre équipe est disponible 24/7 pour une assistance rapide et efficace.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-feature text-center text-lg-left">
                    <h3 class="card-feature__title"><span class="card-feature__icon">
                        <i class="ti-headphone-alt"></i>
                    </span>Consultations en Ligne</h3>
                    <p class="card-feature__subtitle">Prenez rendez-vous facilement avec nos experts en rééducation pour un suivi à distance en toute sérénité.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Feature section end =================-->  

<!--================ Service section start =================-->  
<div class="service-area area-padding-top">
    <div class="container">
        <div class="area-heading row">
            <div class="col-md-5 col-xl-4">
                <h3>Des Services<br>
                de Rééducation Innovants</h3>
            </div>
            <div class="col-md-7 col-xl-8">
                <p>Grâce à notre plateforme, bénéficiez de programmes de rééducation adaptés, avec un suivi en temps réel et des exercices interactifs qui facilitent votre récupération.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <i class="flaticon-brain"></i>
                    </span>
                    <h3 class="card-service__title">Service de Neurologie</h3>
                    <p class="card-service__subtitle">Un suivi spécialisé pour les patients souffrant de troubles neurologiques, avec des exercices conçus pour améliorer votre mobilité et votre qualité de vie.</p>
                    <a class="card-service__link" href="#">En Savoir Plus</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <i class="flaticon-tooth"></i>
                    </span>
                    <h3 class="card-service__title">Clinique Dentaire</h3>
                    <p class="card-service__subtitle">Des soins dentaires post-opératoires avec un suivi à distance pour une récupération rapide et confortable.</p>
                    <a class="card-service__link" href="#">En Savoir Plus</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                    <span class="card-service__icon">
                        <i class="flaticon-face"></i>
                    </span>
                    <h3 class="card-service__title">Chirurgie Esthétique</h3>
                    <p class="card-service__subtitle">Un accompagnement personnalisé après des interventions esthétiques pour garantir des résultats optimaux.</p>
                    <a class="card-service__link" href="#">En Savoir Plus</a>
                </div>
            </div>
        </div>
    </div>
</div>    
<!--================ Service section end =================-->      

<!--================About Area =================-->
<section class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 offset-xl-7 col-xl-5">
                <div class="about-content">
                    <h4>Votre Santé, Notre Priorité<br>
                        Une Rééducation Personnalisée<br>
                    Accessible Partout</h4>
                    <h6>Nous utilisons les dernières technologies pour vous offrir un suivi de qualité, peu importe où vous êtes.</h6>
                    <p>Que ce soit après une chirurgie ou un accident, notre plateforme vous permet de suivre des exercices interactifs adaptés à vos besoins. Notre objectif est de vous aider à retrouver votre mobilité et votre autonomie rapidement.</p>

                    <a class="link_one" href="#">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================About Area End =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/theme.js"></script>
    </body>
</html>