{% include 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a login page template based on Bootstrap 5">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% endblock %}

{% include 'navbar.html.twig' %}

{% block body %}
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="temp_patient/css/bootstrap.css">
        <link rel="stylesheet" href="temp_patient/css/themify-icons.css">
        <link rel="stylesheet" href="temp_patient/css/flaticon.css">
        <link rel="stylesheet" href="temp_patient/vendors/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="temp_patient/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="temp_patient/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="temp_patient/css/style.css">
        <link rel="stylesheet" href="temp_patient/css/responsive.css">
    </head>
      <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background:  #1f8c2e;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 100px; /* Ajoute un espacement en bas */
            background: linear-gradient(to bottom, #C5EAC4, #379944);
        }

        .container {
            height: 100%;
        }
    </style>
    <body>

        <!--JavaScript -->
    </body>
</html>
{% endblock %}