{% extends 'layout.html.twig'%}

{% block body  %}

    <section class="content">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="flip">
                    <div class="widget-bg-color-icon card-box front">
                        <div class="bg-icon pull-left">
                            <i class="ti-eye text-warning"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b>2</b></h3>
                            <p>Nombre de patient</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
{% endblock %}