<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{ asset('temp_admin/img/logo_Heal-Track.ico') }}"/>
        <title>{% block title %}HealTrack{% endblock %}</title>
    </head>
</html>
