<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="temp_patient/img/favicon.png" type="image/png">
    <title>Medcare Medical</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="temp_patient/css/bootstrap.css">
    <link rel="stylesheet" href="temp_patient/css/themify-icons.css">
    <link rel="stylesheet" href="temp_patient/css/flaticon.css">
    <link rel="stylesheet" href="temp_patient/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="temp_patient/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="temp_patient/css/style.css">
    <link rel="stylesheet" href="temp_patient/css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">  
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html"><img src="temp_patient/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li> 
                            <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
                            <li class="nav-item"><a class="nav-link" href="department.html">Department</a></li> 
                            <li class="nav-item"><a class="nav-link" href="doctors.html">Doctors</a></li>    
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="element.html">element</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="temp_patient/jsjquery-2.2.4.min.js"></script>
    <script src="temp_patient/jspopper.js"></script>
    <script src="temp_patient/jsbootstrap.min.js"></script>
    <script src="temp_patient/jsstellar.js"></script>
    <script src="temp_patient/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="temp_patient/jsjquery.ajaxchimp.min.js"></script>
    <script src="temp_patient/jswaypoints.min.js"></script>
    <script src="temp_patient/jsmail-script.js"></script>
    <script src="temp_patient/jscontact.js"></script>
    <script src="temp_patient/jsjquery.form.js"></script>
    <script src="temp_patient/jsjquery.validate.min.js"></script>
    <script src="temp_patient/jsmail-script.js"></script>
    <script src="temp_patient/jstheme.js"></script>